*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    padding: 10px;
    border-bottom: 1px solid black;
}

table, td{
    border: 1px solid black;
}

.gpt{
    color: skyblue;
}

.cop{
    color: rgb(213, 135, 235);
}